body{
    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color:  #FFF;
font-size: 20px;
font-weight: 700;
padding: 15px 35px ;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
   
}
.nav-tittle{
    color: var(--Dark-01, #181818);


font-size: 45px;

font-weight: 800;
align-items: center;

}
nav > ul{
    display: flex;
    align-items: center;

}
nav  li{
   list-style: none;
   margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:  #474747;

font-size: 20px;

font-weight: 400;

}
.header{
   background-color:  #FFF8F3;
   background-image: url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px  150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
    
}
.banner-content{
   max-width: 500px;

}
.banner-gretting{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 0;

}
.banner-tittle{
    color:  #181818;
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}
.banner-description{
color:  #757575;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
/* margin-top: 20px; */
margin-bottom: 30px;

}
.about{
    padding: 130px;
    margin: 130px 0;
    border-radius: 10px;
background: #FFF8F3;
}
.section-tiitle{
color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;

}
.section-description{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;

}
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    margin-right: 50px;

}
.info-tittle{
    color: #757575;
text-align: center;
font-size: 20px;
font-weight: 400;
line-height: 30px; 
}
.info-description{
    color: #474747;
font-size: 20px;
font-weight: 700;
line-height: 30px;
}
#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;

}
.skill{
    max-width: 267px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill{
    padding: 33px;
}
.skill-description{
    color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px; 
}
.resume-column-tittle{
    color: #474747;
font-size: 30px;
font-weight: 700;
}

